<div class="inner-container">
  <div class="logo">
    <img ng-src="????????">
  </div>
  <div class="record">
      <h1> Wins: {{totalWins}} Losses: {{totalLosses}} </h1>
  </div>
  <div class="btn" ng-click="submitGame()"> Add a New Game </div>
  <form ng-show="toggleNewGameForm" class="form">
    <span class="large">Opponent: {{gameObj.opponent}}</span> <br /><select ng-model="gameObj.opponent" ng-options="team for team in teams" class="form-control" required name="team"></select> <br /><br />
    <span class="large">Score:</span> <br /> {{homeTeam}}: <input class="inputs" type="text" ng-model="gameObj.homeTeamScore" placeholder="Home Score"> {{gameObj.homeTeamScore}}: <input type="text" class="inputs" ng-model="gameObj.homeTeamScore" placeholder="Opponent Score"> <br /><br />
    <!-- <button ng-click="????????"> Submit Game </button> -->
  </form>
  <div class="team-data">
    <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
  <!--     Date: ???????? <br />
      
        The below question marks should render like this
        Utah Jazz (Or name of Team) - Score of the particular Game
        Opponent Name - Opponent Score for that Game
     

      ???????? - ????????<br />
      ???????? - ???????? </br /> -->
    </div>
  </div>
</div>