<div class="container">

	 <div class="flex-item">
  	<div class="logo">
    	<a href="/#/teams/utahjazz"><img src="/images/jazz-logo.png"></a>
  	</div>
  	
  	<div  class="record">
      <h3 class="text-center"> Wins: {{utahGameData.wins}} Losses: {{utahGameData.losses}} </h3>
  	</div>
		
		<div class="team-data">
    	<div class="game" ng-repeat="game in utahGameData" ng-class="{'even' : $index % 2 === 0}">
      	Date: {{game.createdAt | date}} <br />
      	{{game.homeTeam}} - {{game.homeTeamScore}} <br />
      	{{game.opponent}} - {{game.opponentScore}} </br />
    	</div>
		</div>
	</div>	
 
  <div class="flex-item">
  	
  	<div class="logo">
    		<a href="/#/teams/losangeleslakers"><img src="/images/lakers-logo.png"></a>
  	</div>
  	
  	<div  class="record">
      <h3 class="text-center"> Wins: {{laGameData.wins}} Losses: {{laGameData.losses}} </h3>
  	</div>
		
		<div class="team-data">
    	<div class="game" ng-repeat="game in laGameData" ng-class="{'even' : $index % 2 === 0}">
      	Date: {{game.createdAt | date}} <br />
      	{{game.homeTeam}} - {{game.homeTeamScore}} <br />
      	{{game.opponent}} - {{game.opponentScore}} </br />
    	</div>
		</div>
	</div>

  <div class="flex-item">
  	
  	<div class="logo">
    		<a href="/#/teams/miamiheat"><img class="heat" src="/images/heat-logo.png"></a>
  	</div>
  	
  	<div  class="record">
      <h3 class="text-center"> Wins: {{heatGameData.wins}} Losses: {{heatGameData.losses}} </h3>
  	</div>
		
		<div class="team-data">
    	<div class="game" ng-repeat="game in heatGameData" ng-class="{'even' : $index % 2 === 0}">
      	Date: {{game.createdAt | date}} <br />
      	{{game.homeTeam}} - {{game.homeTeamScore}} <br />
      	{{game.opponent}} - {{game.opponentScore}} </br />
    	</div>
		</div>
	</div>
</div>